:root {
    --heading-font: "PT Sans", sans-serif;
    --body-font: "Source Sans 3", sans-serif;
    --white: #fff;
    --black: #000;
    --primary-color: #b80257;
    --secondary-color: #783df0;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: var(--heading-font);
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Bài 1 */

/* Start header wrapper */
.header-wrapper {
    display: flex;
    width: 100%;
    min-height: 496px;
    background: url(../img/bg-banner-2.jpg) no-repeat center;
    background-size: cover;
}

.header-wrapper .inner {
    display: flex;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.container {
    width: 1170px;
    max-width: 100%;
    min-height: 48px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-top: 34px;
}

.header .nav {
    display: flex;
}

.nav a {
    display: inline-block;
    padding: 20px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1.1px;
}

.nav .nav-item {
    position: relative;
}

.nav-item .sub-nav {
    position: absolute;
    width: 220px;
    visibility: hidden;
    background: var(--white);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

.nav-item:hover .sub-nav {
    visibility: visible;
    transform: scaleY(1);
}

.sub-nav li:hover {
    background: var(--primary-color);
}

.sub-nav li:hover a {
    color: var(--white);
    transform: translateX(6px);
}

.sub-nav a {
    display: block;
    position: relative;
    padding: 8px 16px;
    line-height: 30px;
    font-weight: normal;
    color: var(--black);
    border-bottom: 1px solid transparent;
    text-transform: capitalize;
    transition: transform 0.3s ease-in-out;
}

.action-wrapper i {
    font-size: 1.8rem;
    color: var(--white);
}

.action-wrapper i:first-of-type {
    padding-right: 28px;
}

.heading-container {
    display: flex;
    flex-direction: column;
}

.heading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 10px;
}

ul.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
    font-size: 1.5rem;
    color: #fffc;
}

ul.breadcrumb li a {
    color: #fffc;
}

h1.heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.breadcrumb li + li::before {
    content: "/";
    padding: 0 8px;
}
/* End header wrapper */

/* Start main content */

/* Start Sidebar */
.main .inner {
    display: flex;
    padding: 60px 0;
    gap: 30px;
}

.main .sidebar-wrapper {
    width: 300px;
}

.form-search {
    display: flex;
    align-items: center;
    height: 43px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    overflow: hidden;
}
.form-search .input-search {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 0 0 20px;
}
.form-search .btn-search {
    display: flex;
    align-self: stretch;
    padding: 14px 20px;
    color: rgba(0, 0, 0, 0.5);
}

.heading-sidebar {
    margin-top: 30px;
}

.topic-list {
    margin-top: 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.topic-list li + li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.topic-list a {
    display: flex;
    align-items: center;
    min-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.35s ease-in-out;
}

.topic-list a:hover {
    padding-left: 35px;
    color: #783df0;
}

/* End Sidebar */

/* Start Content-Wrapper */

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 60px;
}

/* start menu content */
.content-wrapper .menu-list {
    display: flex;
    justify-content: center;
    gap: 14px;
}

.content-wrapper .menu-list li:first-child a {
    border-radius: 15px;
    background: #783df0;
    color: var(--white);
}

.content-wrapper .menu-list a {
    display: flex;
    align-items: center;
    border-radius: 15px;
    min-height: 30px;
    padding: 0 14px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.35s ease-in-out;
}

.content-wrapper .menu-list li:hover a {
    border-radius: 15px;
    background: #783df0;
    color: var(--white);
}
/* end menu content */

/* start main content */
.content-wrapper .main-content {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 30px;
}

.sub-content {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 3);
}

.sub-content figure {
    position: relative;
    overflow: hidden;
    background-image: -webkit-linear-gradient(
        90deg,
        rgb(40, 172, 225) 12%,
        rgb(81, 204, 231) 50%,
        rgb(122, 235, 236) 91%
    );
}

.sub-content figure .icon-img {
    position: absolute;
    background: var(--primary-color);
    top: -50px;
    right: -50px;
    z-index: 1;
    color: var(--white);
    width: 100px;
    height: 100px;
    transform: rotate(45deg);
}

figure .icon-img i {
    position: absolute;
    bottom: -2px;
    font-size: 2.2rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-content .img-content {
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sub-content:hover .img-content {
    opacity: 0.8;
    transform: scale3D(1.1, 1.1, 1);
}

.sub-content:hover a {
    color: #b80257;
}

.sub-content .content-text {
    display: flex;
    flex-direction: column;
    border: 1px solid #eeeeee;
    border-top: none;
    gap: 20px;
    padding: 15px 20px 15px 20px;
}

.content-text h2 {
    font-size: 1.8rem;
}

.content-text a {
    color: #464646;
    text-decoration: none;
}

.content-text .list-content {
    display: flex;
    gap: 18px;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.list-content .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.list-content li {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgba(0, 0, 0, 0.6);
}
.list-content .price-free {
    color: #b80257;
    align-self: stretch;
    background: #783df0;
    text-align: center;
    border-radius: 15px;
}

.list-content:hover .price-free,
.list-content:hover .price-no-free {
    transform: translateY(-2px);
    box-shadow: 0px 22px 12px -10px rgba(0, 0, 0, 0.7);
}

.list-content a {
    width: 66px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
}

.list-content .price {
    width: 66px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
}

.list-content .price:first-child {
    color: #fff;
}

.list-content .price-no-free {
    color: #fff;
    background: #b80257;
    align-self: stretch;
    text-align: center;
    border-radius: 15px;
}

.sub-content:hover .price {
    color: #fff;
}

/* end main content */

.course-pagination {
    display: flex;
    gap: 10px;
}

.course-pagination li {
    min-width: 29px;
    min-height: 27px;
    border-style: solid;
    border-color: #783df0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.course-pagination li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.course-pagination li:first-child {
    border-color: #783df0;
}

.course-pagination li:first-child a {
    color: #783df0;
}

.course-pagination li:last-child {
    min-width: 58px;
    font-size: 1.4rem;
    text-transform: uppercase;
    background: #783df0;
    margin-left: 12px;
}
.course-pagination li:last-child a {
    color: #fff;
}

.course-pagination li:hover {
    border-color: #783df0;
}

.course-pagination li:hover:not(:last-child) a {
    color: #783df0;
}

/* End Content-Wrapper */

/* Start footer */
footer {
    background: #151515;
    padding: 60px 0 160px 0;
    color: #fff;
}

.footer-content {
    display: flex;
    gap: 30px;
}

.footer-content .sub-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 60px) / 5);
}

.sub-footer + .sub-footer {
    padding: 0 20px;
}

.footer-content .list-footer {
    display: flex;
    gap: 8px;
    align-items: center;
}

.sub-footer p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.4rem;
}

.sub-footer .list-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sub-footer h2 {
    font-size: 2rem;
}

.sub-footer .list-info a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.list-info a:hover {
    color: #b80257;
}

.sub-footer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sub-footer input {
    width: 270px;
    height: 30px;
    height: 40px;
    background: #272727;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
}

.sub-footer form button {
    width: 95px;
    line-height: 40px;
    border-radius: 20px;
    color: #fff;
    letter-spacing: 1.5px;
    background: #b80257;
}

.sub-footer button:hover {
    color: #b80257;
    background: #fff;
}

/* End footer */

/* Start icon fixed */
.move-top {
    width: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    letter-spacing: 1.5px;
    background: #b80257;
    margin: 12px;
}
/* End icon fixed */
