* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

u {
    text-decoration: underline;
}

li {
    list-style-type: disc;
}

input,
button,
textarea,
select {
    font-size: inherit;
    font-family: inherit;
}

/* CV */

body {
    background-color: rgb(222, 212, 217);
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    line-height: 1.6;
}

.mt_12 {
    margin-top: 12px;
}

.fw_600 {
    font-weight: 600;
}

.cv {
    max-width: 980px;
    min-height: 100px;
    margin: 32px auto;
    background-color: white;
    padding: 32px 68px;
}

.heading-1 {
    text-align: center;
    margin-bottom: 32px;
}

.heading-2 {
    margin-top: 16px;
    border-bottom: 2px solid black;
}

.heading-3 {
    text-align: justify;
    padding-top: 8px;
    margin-bottom: -16px;
}

.heading-3 span {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.full-width {
    width: 100%;
}

.info ul {
    padding-left: 16px;
}

/* Menu */

.menu {
    background-color: #3e5cca;
    padding: 16px 60px;
    font-size: 0;
}

.menu > li {
    display: inline-block;
}

.menu > li > a {
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 18px;
}

.menu .active:hover {
    color: black;
    background-color: white;
}

/* Form */
.form {
    background: rgb(197, 191, 191);
    max-width: 400px;
    margin: 8px auto;
    border-radius: 16px;
}

.form .form-group {
    margin: 6px auto;
    padding-left: 60px;
    padding-right: 60px;
}

.form-group > label {
    display: block;
}

.form-group .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.form-group > input,
button {
    outline: none;
    padding: 2px 6px;
    border-radius: 8px;
    border: 2px solid gray;
    width: 100%;
}

.form-group .btn {
    background: #0866ff;
    margin-bottom: 16px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.form-group .btn:hover {
    opacity: 0.8;
}
